.actionBar {
  width: 100%;
  padding: 0.75rem 1rem;
  pointer-events: none;
}

.actionBarContent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.actionBarContent > * {
  pointer-events: auto;
} 