.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small {
  width: 150px;
  height: auto;
}

.medium {
  width: 250px;
  height: auto;
}

.large {
  width: 400px;
  height: auto;
} 