.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-stone-grey-light);
  display: flex;
  justify-content: center;
} 