.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  max-width: 80%;
  height: auto;
  max-height: 10rem;
}

.small {
  width: 150px;
  height: auto;
}

.medium {
  width: 250px;
  height: auto;
}

.large {
  width: 400px;
  height: auto;
}
