@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Hexbound';
  src: url('/fonts/Hexbound/Hexbound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Junction';
  src: url('/fonts/Junction/Junction-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Junction';
  src: url('/fonts/Junction/Junction-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Junction';
  src: url('/fonts/Junction/Junction-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on the main container */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Color Palette */
  --color-canvas-white: #FEFAEF;
  --color-charcoal: #2d2d2d;
  --color-stone-grey: #7a7a7a;
  --color-hex-amber: #f48550;
  --color-glow-yellow: #ffef9f;
  --color-pastel-sky: #a9d7e8;
  --color-moss-green: #87a06f;
  --color-clay-red: #d47a6a;
  --color-deep-purple: #5d4f6b;

  /* Typography */
  --font-family-main: 'Hexbound', sans-serif;
  --font-family-body: 'Junction', sans-serif;
  --font-size-heading: 2.5rem;
  --font-size-body: 1rem;
  --font-size-caption: 0.8rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Borders and Effects */
  --border-radius-small: 8px;
  --border-radius-medium: 14px;
  --border-width: 2px;
  --border-color: var(--color-charcoal);
}

body {
  min-width: 320px;
  font-family: var(--font-family-body);
  color: var(--color-charcoal);
  background-color: var(--color-canvas-white);
  background-image: url('/images/paper-texture.png');
  background-repeat: repeat;
  /* TODO: Add paper texture background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-charcoal);
}

h1 {
  font-size: var(--font-size-heading);
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  color: var(--color-stone-grey);
}

a {
  font-weight: 500;
  color: var(--color-hex-amber);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-glow-yellow);
}

button {
  border-radius: var(--border-radius-small);
  border: var(--border-width) solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s;
} 